body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #030303;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.workout {
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #333;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #262626;
}

footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding:5px ;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    background: #ccc;
    background-image:linear-gradient(to right,rgb(8, 168, 243), rgb(0, 170, 249),rgb(255, 0, 0),purple,purple,green,rgb(8, 133, 15),rgb(173, 255, 9), rgb(194, 203, 16), blue, blue );
    font-family: system-ui;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}
.fondo{
    width: 100%;
    background-color: transparent;
    margin: auto;
}